.dress-icon {
  display: inline-block;
  vertical-align: middle;
  color: #1a2332;
  stroke: currentColor;
}

.dress-icon.small {
  width: 16px;
  height: 16px;
}

.dress-icon.medium {
  width: 24px;
  height: 24px;
}

.dress-icon.large {
  width: 32px;
  height: 32px;
}

