.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 40px;
  height: 40px;
  display: block;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo-image {
    width: 32px;
    height: 32px;
  }
}

