.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 40px;
  height: 40px;
  display: block;
  object-fit: contain;
}

.logo-image.logo-small {
  width: 24px;
  height: 24px;
}

.logo-image.logo-large {
  width: 80px;
  height: 80px;
}

@media (max-width: 768px) {
  .logo-image {
    width: 32px;
    height: 32px;
  }
  
  .logo-image.logo-small {
    width: 20px;
    height: 20px;
  }
  
  .logo-image.logo-large {
    width: 60px;
    height: 60px;
  }
}

